html, body {
    margin: 0;
    padding: 0;
}

.blind {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

header {
    border-bottom: 1px solid #000;
}

a {
    text-decoration: none;
}

.side_toggle_btn::before {
    content: ">";
    display: inline-block;
    width: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    border-right: 1px solid #000;
}

.side_input:checked + .side_toggle_btn::before {
    content: "<";
}

.side_input:checked ~ .side_list {
    left: 0;
}

.side_list {
    position: absolute;
    left: -200px;
    top: 50px;
    bottom: 0;
    border-right: 1px solid #000;
    width: 200px;
    font-size: 24px;
    transition: 0.3s ease-in;
}

.side_link {
    display: block;
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #000;
}